*,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.language-item {
  width: 18px;
  height: 10px;
  margin-right: 10px;
}

.language {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.text-end a {
  color: black;
}

.product-item {
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
}

.product-item:hover {
  border: 2px solid orange;
  border-radius: 5px;
  /* box-shadow: 0px 0px 8px 0px orange; */
}

.price {
  margin-bottom: 4px;
}

.origin-price {
  text-decoration: line-through;
}

.discounted-price {
  color: orange;
}

.hot-product .product-name {
  font-size: 18px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.index-products {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .index-products p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.index-title {
  padding: 3em 0;
  text-align: center;
  line-height: 1;
}

.commet-item {
  padding: 20px;
}

.commet-star {
  color: #f18e00;
}

.commet-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commet-date {
  color: #939393;
}

.commet-user {
  max-width: 12em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.commet-star .bi-star-fill {
  margin-right: 0.5em;
}

.qa-wrap {
  margin-bottom: 2em;
}

.qa-item {
  display: flex;
  flex-direction: row;
}

.qa-container {
  flex: 1;
}

.question-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2;
  border-radius: 50%;
  text-align: center;
}

.qa {
  padding-bottom: 8em;
}

.question,
.answer {
  padding-left: 1em;
}

.question {
  font-size: 1.1875rem;
}

.product {
  text-align: center;
  margin-top: 4em;
  display: flex;
  flex-direction: row;
}

.payment_area {
  background: #fff;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 492px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px #7777776b;
  width: 938px;
}

.box-shadow {
  box-shadow: 0px 0px 8px 0px #7777776b;
}

.fast-buy {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px #7777776b;
  background: #fff;
}

.product-info {
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
}

.product-desc {
  margin-top: 2em;
}

.product-options {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  text-align: left;
}

.product-detail {
  margin-top: 2em;
}

.el-input-number__decrease,
.el-input-number__increase {
  line-height: 34px;
}

.el-radio-group .el-radio-button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.el-radio-group .el-radio-button>.el-radio-button__inner {
  border: 1px solid #dcdfe6;
  border-radius: 5px;
}

.el-radio-group .el-radio-button:last-child .el-radio-button__inner,
.el-radio-group .el-radio-button:first-child .el-radio-button__inner {
  border-radius: 5px;
}

.title {
  color: #363636;
  font-weight: bold;
  text-align: center;
}

.buy-btn {
  width: 350px;
}

.product-pick_area {
  flex: 1;
}

.product-option-form {
  margin-top: 2em;
}

.settltment {
  margin-top: 6em;
}

.fast-buy {
  width: 380px;
  margin-left: 20px;
}

.fast-buy .fast-buy-item:first-child {
  height: 44px;
}

.fast-buy .fast-buy-item:first-child .title {
  width: 100%;
  color: #ff4200;
}

.fast-buy-item {
  height: 112px;
  line-height: 1;
  padding: 0 2em;
  position: relative;
}

.fast-buy>.fast-buy-item:nth-child(even),
.fast-buy>.fast-buy-item:nth-child(even)::after {
  background-color: #f0f0f0;
}

.fast-buy-item .desc {
  color: #939393;
}

.fast-buy-item::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -6px;
  background-color: #fff;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.fast-buy>.fast-buy-item:last-child::after {
  height: 0;
  width: 0;
}

.fast-buy-item .title {
  padding: 10px 0;
}

.fast-buy-item .desc {
  text-align: left;
}

.product-detail {
  padding: 20px;
  text-align: left;
}

.tips .title {
  padding-left: 28px;
}

.tips {
  font-size: 12px;
  color: #7f7f7f;
}

.recharge-recharge .detail {
  padding-left: 14px;
}

.recharge-recharge,
.about-delivery {
  margin-top: 2em;
}

.provide-product {
  padding-top: 20px;
}

.recommend-products .title {
  margin: 1em 0;
}

.product-info .el-button--primary.is-disabled,
.product-info .el-button--primary.is-disabled:active,
.product-info .el-button--primary.is-disabled:focus,
.product-info .el-button--primary.is-disabled:hover {
  cursor: default;
}

.pagination_wrap {
  display: flex;
  justify-content: center;
}

.commet-item-header .user-name {
  margin-left: 0.5em;
  color: #939393;
  position: relative;
  top: 2px;
}

.product-name {
  line-height: 2;
  font-size: 16px;
}

.product-list {
  padding: 0 4em;
}

.product-list .list-item,
.hot-product {
  padding-bottom: 10px;
}

/* .product-list .product-item {
  height: 180px;
} */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.search-bar .input-group {
  width: 320px;
}

.qa_wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.qa-list_wrap {
  flex: 1;
}

.qa-list_wrap .qa-item {
  margin-bottom: 2em;
}

.qa-list_wrap .question {
  font-weight: bold;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-product {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-item {
  font-size: 12px;
}

.order-img {
  margin-right: 20px;
}

.order-product-detail {
  width: 300px;
}

.price,
.create-date,
.order-state,
.quantities,
.total-amount {
  flex: 1;
  text-align: center;
}

.operation {
  width: 160px;
}

.operation button {
  margin-right: 2px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 77px;
  width: 100%;
  height: 450px;
  background-image: url(../img/bg/bg-3.jpg);
}

.checkout_wrap {
  text-align: left;
}

.per-price {
  margin-left: 1em;
}

.order-img {
  width: 105px;
  height: 60px;
}

.order-product-title {
  text-align: left;
}

.checkout-product {
  margin: 1em 0;
}

/* .bill-id {
    margin-right: 2em;
} */
.operation-btn {
  width: 84px;
  margin-bottom: 10px;
}

.btn-outline-success a {
  --bs-btn-color: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

.operation-btn:hover a {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

/* .operation-btn  {
  color: ;
} */
.flex-direcation-row {
  flex-direction: row;
}

#Q-Code {
  width: 200px;
  height: 200px;
}

.danger {
  color: #ff4200;
}

.order-info {
  margin: 0;
}

.checkout_wrap .list-group-item {
  padding: 1em 1.5em;
}

.checkout-padding {
  padding: 0.5em 0;
}

.about-title {
padding-bottom: 1em;
}

.abourt-container {
  padding: 2em;
}